@font-face {
  font-family: 'Averia Libre';
  font-style: normal;
  font-weight: 400;
  src: local('Averia Libre Regular'), local('AveriaLibre-Regular'), url(http://empty.qiniudn.com/font/AveriaLibre.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
*{margin:0;padding:0;}
br {line-height: 2.4}
li {line-height: 2;}
p code{display: inline-block;}
li pre code {display: inline-block;}
body{
  background:#f8f8f5;
  font: normal 16px/1.8 Helvetica, 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, sans-serif;
  color:#333;
}
::selection {background:#dee;color:#555;}
@media screen and (max-width:1020px){
  body{margin:0 20px;}
}
@media screen and (max-width:620px){
  body{
    margin: 0 8px;
  }
}

h1, h2, h3, h4, h5, h6, footer {
  font-family: 'Averia Libre', "Helvetica Neue", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  color: #222222;
}
h1 {
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: .8em;
}
h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4, h5, h6 {
  font-size: 1em;
  margin: 1.6em 0 1em 0;
}

p {
  text-align: justify;
}
blockquote {
  font-family: "Xin Gothic", "Droid Sans Fallback", STKaiti, KaiTi, FangSong, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, sans-serif;
}
a{outline:0;color:#2879d0;text-decoration:none;}
.fancy-underline a{
  text-decoration:none;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  -ms-transition: all .3s linear;
  text-shadow: -1px 0 0 white,1px 0 0 white,-2px 0 0 white,2px 0 0 white;
}
.fancy-underline a:hover {
  background: linear-gradient(to bottom, #fff 50%, #2879d0 50%) repeat-x 0 .94em;
  background-size: .2em .2em;
}

.left, .alignleft{float:left;}
.right, .alignright{float:right;}
.clearfix{*zoom:1;}
.clearfix:after{clear:both;display:table;content:"";}
img{vertical-align: bottom;border:none;}

.inner{margin:50px auto 20px;width:1020px;}
@media screen and (max-width:1020px){
  .inner{width:100%;}
}

.navi{width:118px;height:118px;margin:0 auto 20px;}
@media screen and (max-width:1020px){
  .navi {float: none;}
}
.navi img{-webkit-transition: all 0.2s ease-out;opacity:0.8;width:100px;height:100px;border-radius:50%;box-shadow:1px 2px 3px rgb(136, 136, 136);}
.navi img:hover {
  opacity:1;
  -webkit-transform:scale(1.06);
  transform:scale(1.1);
}
.navi a:hover{background:none;}

#articles li {
  line-height: 2.4;
}

.pullquote-right:before,.pullquote-left:before{position:relative;top:7px;float:right;margin:.5em 0 1em 1.5em;padding:0;width:45%;border:0;content:attr(data-pullquote);font-size:1.4em;line-height:1.45em;}
.pullquote-left:before{float:left;margin:.5em 1.5em 1em 0;}

#pagenavi{
  position:relative;
  margin:1.8rem auto 2rem;
  width:86%;
  min-height: 2rem;
  font-size: 1.25rem;
  line-height: 1.2;
  border-bottom:1px solid #ddd;
}
@media screen and (max-width:1020px) {
  #pagenavi{width:100%;}
}
#pagenavi .prev,#pagenavi .next{position:absolute;}
#pagenavi .prev{left:0;}
#pagenavi .next{right:0;}

#pagenavi .next:after,#pagenavi .prev:before{display: inline; font-family: FontAwesome;}
#pagenavi .prev:before{content:"\f060";}
#pagenavi .next:after{content:"\f061";}

#pagenavi .center{position: absolute; left: 46%;}
@media screen and (max-width:800px){
  #pagenavi {
    width: 94%;
    padding-left: 6%;
  }
  #pagenavi .prev, #pagenavi .center,#pagenavi .next{
    position: static;
    display: table-row;;
    padding: 0 0 0 30px;
    text-align: left;
    line-height: 2.5em;
  }
  #pagenavi .prev:before, #pagenavi .next:before {
    position: static;
    margin-right: 1em;
  }
}
#comment {width: 86%; margin: 0 auto;}

article{
  float:none;
  position:relative;
  z-index:0;
  margin:auto;
  padding:2em 0;
  width:86%;
  background:#fff;
  box-shadow:0 2px 6px #555;
}
@media screen and (max-width:1020px){
  article{
    width:100%;
    margin:30px auto 0;
    padding:15px 0;
    background:#f8f8f5;
    border-bottom:1px solid #fff;
    box-shadow:none;
  }
}
article h1 {
  text-align:center;
}

article .entry-content{text-align:left;}
article.post .entry-content a{
  color: #333;
  text-decoration:none;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  -ms-transition: all .3s linear;
  text-shadow: -1px 0 0 white,1px 0 0 white,-2px 0 0 white,2px 0 0 white;
  background: linear-gradient(to bottom, #fff 50%, #333 50%) repeat-x 0 .94em;
  background-size: .2em .2em;
}
article.post .entry-content a:hover {color: #2879d0;}
article .entry-content .more-link{position:relative;display:block;margin-top:16px;padding-left:30px;border-bottom:0;}
article .entry-content .more-link:before{position:absolute;left:0;content:"\f061";font-family: FontAwesome;}
article .entry-content ul,article .entry-content ol,article .entry-content dl{margin-left:4%;}
article .entry-content ul ul,article .entry-content ul ol,article .entry-content ul dl,article .entry-content ol ul,article .entry-content ol ol,article .entry-content ol dl,article .entry-content dl ul,article .entry-content dl ol,article .entry-content dl dl{margin-top:0;}
article .entry-content>ul,article .entry-content>ol{margin-right:6%;margin-left:12%;}
article .entry-content strong{font-weight:bold;}
article .entry-content em{font-style:italic;}
article .entry-content p{margin:0.5em 6%;}
article .entry-content h1{position:relative;border-bottom:1px solid #ddd;font-weight:300;}
article .entry-content h1:before{position:absolute;bottom:-2px;width:100%;border-bottom:1px solid #fff;content:"";}
article .entry-content img,article .entry-content video{margin: 10px auto;height:auto;max-width:100%;border-bottom:0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 0 15px rgba(0,0,0,0.35);-moz-box-shadow:0 0 15px rgba(0,0,0,0.35);box-shadow:0 0 15px rgba(0,0,0,0.35);}
article .entry-content img[alt=block]{display:block}
article .entry-content blockquote{margin:10px auto 0;width:85%;border-left:5px solid #ccc;background:#f7f7f9;}
article .entry-content blockquote>p:first-of-type{margin-top:0;}
article .entry-content iframe{
  border:0;
  width: 100%;
  min-height: 600px;
}
article .entry-content table{margin-top:10px;border:1px solid #ccc;background:#ddd;border-spacing:0;}
article .entry-content table th{padding:0 15px;background:#ccc;}
article .entry-content table td{text-align:center;}
article .entry-content table tr:nth-of-type(2n){background:#d5d5d5;}
article .entry-content .caption{position:relative;display:block;padding-left:25px;color:#999;font-size:.9em;}
article .entry-content .caption:before{position:absolute;left:0;color:#ccc;content:"\f040";font-family: FontAwesome;line-height:1.6em;}
article .entry-content .video-container{position:relative;overflow:hidden;padding-top:30px;padding-bottom:56.25%;height:0;}
article .entry-content .video-container iframe,article .entry-content .video-container object,article .entry-content .video-container embed{position:absolute;top:0;left:0;margin-top:0;width:100%;height:100%;}

@media screen and (max-width:620px){
  .post .entry-content{margin-left:0;}
}

.archives article{font: 1.1rem/2.1 'Averia Libre', Helvetica, 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, sans-serif;}
.archives time {display: inline-block; width: 6.6rem;}
@media screen and (max-width:620px){
  .archives time{
    display: none;
  }
}

footer{padding:15px 0;text-align:center;font-size:.9em;}
article h2{padding:.3em 3%;background:#f5f5f5;box-shadow:1px 1px 1px 1px #c7c7c7;}
article .entry-content h3{margin-left: 2.1em;}


.full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.full .navi {
  position: fixed;
  width: 3em;
  height: 3em;
  top: 1em;
  left: 1em;
  float: none;
  z-index: 1;
}
.full .navi img {
  width: 3em;
  height: 3em;
}
.full .post {
  background-color: black;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
}
.full .post iframe {
  width: 100%;
  height: 100%;
}
.full .title {
  position: fixed;
  top: 4em;
  left: 1em;
  font-size: 1em;
  color: #eee;
  user-select: none;
  z-index: 2;
}
.full + footer {
    display: none;
}


.gist .gist-file{margin:0;}
.gist .gist-file .gist-data{border:0;background:0;}
.gist .gist-file .gist-data pre{line-height:1.5;}
.gist .gist-file .gist-meta{margin:0 -16px -6px;padding:5px 15px;background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#ddd),color-stop(100%,#ccc));background:-webkit-linear-gradient(top,#ddd,#ccc);background:-moz-linear-gradient(top,#ddd,#ccc);background:-o-linear-gradient(top,#ddd,#ccc);background:linear-gradient(top,#ddd,#ccc);font:300 .9em "proxima-nova-1","proxima-nova-2","Helvetica Neue",Arial,sans-serif;line-height:1.5;}
.gist .gist-file .gist-meta a{color:#2879d0;}
.gist .gist-file .gist-meta a:first-of-type{position:absolute;top:5px;right:15px;z-index:1;}
.gist .gist-file .gist-meta a:nth-of-type(2){position:absolute;top:0;left:0;padding:5px 15px;width:100%;background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#ccc),color-stop(100%,#ddd));background:-webkit-linear-gradient(top,#ccc,#ddd);background:-moz-linear-gradient(top,#ccc,#ddd);background:-o-linear-gradient(top,#ccc,#ddd);background:linear-gradient(top,#ccc,#ddd);}
.gist .highlight{width:100%;}
.gist .gist-syntax .highlight .line-data{text-align:left;}

.tags a:after{content:',';}
.tags a:last-child:after{content:'';}
.favicon{display:none;}

code{margin:0 2px;padding:2px 5px;border-radius:3px;background-color:#f7f7f9;font-size:.8em;font-family:Monaco,Consolas,Menlo,"Courier New",monospace,'Hiragino Sans GB W3', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun;}
pre code{display:block;overflow:auto;margin:0 auto;padding:8px;width:78%;border:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#ececec;white-space:pre;line-height:1.6em;word-break:break-all;}
.highlight .c{color:#998;font-style:italic;}
.highlight .err{background-color:#e3d2d2;color:#a61717;}
.highlight .k{font-weight:bold;}
.highlight .o{font-weight:bold;}
.highlight .cm{color:#998;font-style:italic;}
.highlight .cp{color:#999;font-weight:bold;}
.highlight .c1{color:#998;}
.highlight .cs{color:#999;font-weight:bold;font-style:italic;}
.highlight .gd{background-color:#fdd;color:#000;}
.highlight .gd .x{background-color:#faa;color:#000;}
.highlight .ge{font-style:italic;}
.highlight .gr{color:#a00;}
.highlight .gh{color:#999;}
.highlight .gi{background-color:#dfd;color:#000;}
.highlight .gi .x{background-color:#afa;color:#000;}
.highlight .go{color:#888;}
.highlight .gp{color:#555;}
.highlight .gs{font-weight:bold;}
.highlight .gu{color:#aaa;}
.highlight .gt{color:#a00;}
.highlight .kc{font-weight:bold;}
.highlight .kd{font-weight:bold;}
.highlight .kp{font-weight:bold;}
.highlight .kr{font-weight:bold;}
.highlight .kt{color:#458;font-weight:bold;}
.highlight .m{color:#099;}
.highlight .s{color:#d14;}
.highlight .na{color:#008080;}
.highlight .nb{color:#0086b3;}
.highlight .nc{color:#458;font-weight:bold;}
.highlight .no{color:#008080;}
.highlight .ni{color:#800080;}
.highlight .ne{color:#900;font-weight:bold;}
.highlight .nf{color:#900;font-weight:bold;}
.highlight .nn{color:#555;}
.highlight .nt{color:#000080;}
.highlight .nv{color:#008080;}
.highlight .ow{font-weight:bold;}
.highlight .w{color:#bbb;}
.highlight .mf{color:#099;}
.highlight .mh{color:#099;}
.highlight .mi{color:#099;}
.highlight .mo{color:#099;}
.highlight .sb{color:#d14;}
.highlight .sc{color:#d14;}
.highlight .sd{color:#d14;}
.highlight .s2{color:#d14;}
.highlight .se{color:#d14;}
.highlight .sh{color:#d14;}
.highlight .si{color:#d14;}
.highlight .sx{color:#d14;}
.highlight .sr{color:#009926;}
.highlight .s1{color:#d14;}
.highlight .ss{color:#990073;}
.highlight .bp{color:#999;}
.highlight .vc{color:#008080;}
.highlight .vg{color:#008080;}
.highlight .vi{color:#008080;}
.highlight .il{color:#099;}

.fancybox-tmp iframe,.fancybox-tmp object{margin:0;padding:0;vertical-align:top;}
.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020;}
.fancybox-skin{position:relative;margin:0;padding:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:#f9f9f9;color:#444;text-shadow:none;-ms-border-radius:4px;-o-border-radius:4px;}
.fancybox-opened{z-index:8030;}
.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);box-shadow:0 10px 25px rgba(0,0,0,0.5);}
.fancybox-outer,.fancybox-inner{position:relative;margin:0;padding:0;outline:0;}
.fancybox-inner{overflow:hidden;}
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch;}
.fancybox-error{margin:0;padding:10px;color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;}
.fancybox-image,.fancybox-iframe{display:block;margin:0;padding:0;width:100%;height:100%;border:0;vertical-align:top;}
.fancybox-image{max-width:100%;max-height:100%;}
#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url('https://unpkg.com/fancybox@3.0.0/dist/img/fancybox_sprite.png');}
#fancybox-loading{position:fixed;top:50%;left:50%;z-index:8020;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer;}
#fancybox-loading div{width:44px;height:44px;background:url('https://unpkg.com/fancybox@3.0.0/dist/img/fancybox_loading.gif') center center no-repeat;}
.fancybox-close{position:absolute;top:-18px;right:-18px;z-index:8040;width:36px;height:36px;cursor:pointer;}
.fancybox-nav{position:absolute;top:0;z-index:8040;width:40%;height:100%;background:transparent url('https://unpkg.com/fancybox@3.0.0/dist/img/blank.gif');cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.fancybox-prev{left:0;}
.fancybox-next{right:0;}
.fancybox-nav span{position:absolute;top:50%;z-index:8040;visibility:hidden;margin-top:-18px;width:36px;height:34px;cursor:pointer;}
.fancybox-prev span{left:20px;background-position:0 -36px;}
.fancybox-next span{right:20px;background-position:0 -72px;}
.fancybox-nav:hover span{visibility:visible;}
.fancybox-tmp{position:absolute;top:-9999px;left:-9999px;visibility:hidden;overflow:visible;padding:0;}
#fancybox-overlay{position:absolute;top:0;left:0;z-index:8010;display:none;overflow:hidden;background:#000;}
#fancybox-overlay.overlay-fixed{position:fixed;right:0;bottom:0;}
.fancybox-title{position:relative;z-index:8050;visibility:hidden;text-shadow:none;font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;}
.fancybox-opened .fancybox-title{visibility:visible;}
.fancybox-title-float-wrap{position:absolute;right:50%;bottom:0;z-index:8030;margin-bottom:-35px;text-align:center;}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;background:rgba(0,0,0,0.8);color:#FFF;text-shadow:0 1px 2px #222;white-space:nowrap;font-weight:bold;line-height:24px;-ms-border-radius:15px;-o-border-radius:15px;}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff;}
.fancybox-title-inside-wrap{margin-top:10px;}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;padding:10px;background:#000;background:rgba(0,0,0,0.8);color:#fff;}
