*{margin:0;padding:0;}
body{background:#e1e1e1;color:#333;font-weight:300;font-size:16px;font-family:TIBch, 'Classic Grotesque W01', 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, sans-serif;line-height:1.5;}
::selection {background:#dee;color:#555;}
@media screen and (max-width:1020px){body{margin:0 20px;}
}
@media screen and (max-width:600px){body{margin:0 20px;font-size:13px;}
}
.sea {
  background: blue;
  width: 100%;
  height: 100%;
}
h1{font-size:36px;}
h2{font-weight:300;font-size:36px;line-height:1;}
h3{display:block;margin:1.2em 0 0 0;font-weight:normal;font-size:20px;line-height:1.2;}
@media screen and (max-width:620px){
  h3{font-size:15px;}
}
a{outline:0;color:#2879d0;text-decoration:none;-webkit-transition:border .25s linear;-moz-transition:border .25s linear;transition:border .25s linear;-ms-transition:border .25s linear;}
a:hover{border-bottom:1px dashed #2879d0;}
.left, .alignleft{float:left;}
.right, .alignright{float:right;}
.clearfix{*zoom:1;}
.clearfix:after{clear:both;display:table;content:"";}
img{vertical-align: bottom;border:none;}

.inner{margin:50px auto 20px;width:1020px;}
@media screen and (max-width:1020px){
  .inner{width:100%;}
}

#index_icon{width:118px;height:118px;margin:0 auto 20px;}
#avatar{-webkit-transition: all 0.2s ease-out;opacity:0.8;width:100px;height:100px;border-radius:50%;box-shadow:1px 2px 3px rgb(136, 136, 136);}
#index{display:block}
#index:hover{border-bottom:none;}

#avatar:hover {
	opacity:1;
  -webkit-transform:scale(1.06);
  transform:scale(1.1);
}

.pullquote-right:before,.pullquote-left:before{position:relative;top:7px;float:right;margin:.5em 0 1em 1.5em;padding:0;width:45%;border:0;content:attr(data-pullquote);font-size:1.4em;line-height:1.45em;}
.pullquote-left:before{float:left;margin:.5em 1.5em 1em 0;}
#pagenavi{position:relative;margin:10px auto;padding:20px 0;width:70%;height:20px;border-bottom:1px solid #ddd;line-height:20px;}
@media screen and (max-width:1020px){#pagenavi{position:relative;margin:10px auto;padding:20px 0;width:100%;height:20px;border-bottom:1px solid #ddd;line-height:20px;}}
#pagenavi a:hover{text-decoration:none;}
#pagenavi .prev,#pagenavi .next{position:absolute;}
#pagenavi .prev{left:0;padding-left:30px;}
#pagenavi .prev:before{position:absolute;bottom:1px;left:0;content:"\f060";font:1.3em FontAwesome;}
#pagenavi .next{right:0;padding-right:30px;}
#pagenavi .next:before{position:absolute;right:0;bottom:1px;content:"\f061";font:1.3em FontAwesome;}
#pagenavi .center{display:block;width:100%;text-align:center;}
@media screen and (max-width:400px){#pagenavi .center{display:none;}
}

article{float:none;position:relative;z-index:0;margin:auto;padding:15px 0;width:70%;background:#fff;box-shadow:0 2px 6px #555;}

@media screen and (max-width:1020px){article{background:#e1e1e1;border-bottom:1px solid #fff;width:100%;margin:30px auto 0;padding:15px 0;box-shadow:none;}
}
article h2.title{margin:20px 0 35px;border-bottom:0;text-align:center;font-weight:bold;font-size:30px;line-height:1;}
article h2.title a{color:#333;}
article h2.title a:hover{border-bottom:0;color:#2879d0;}
@media screen and (max-width:620px){article h2.title{font-size:18px;margin:auto;}
}

article .entry-content{text-align:left;line-height:2;}
article .entry-content a:hover{text-decoration:none;}
article .entry-content .more-link{position:relative;display:block;margin-top:16px;padding-left:30px;border-bottom:0;}
article .entry-content .more-link:before{position:absolute;left:0;content:"\f061";font:1.3em FontAwesome;line-height:1.6em;}
article .entry-content p,article .entry-content blockquote,article .entry-content ul,article .entry-content ol,article .entry-content dl,article .entry-content table,article .entry-content iframe,article .entry-content h1,article .entry-content h2,article .entry-content h3,article .entry-content h4,article .entry-content h5,article .entry-content h6,article .entry-content .video-container{margin-top:1.5em;margin-bottom:1.5em;}
article .entry-content ul,article .entry-content ol,article .entry-content dl{margin-left:4%;}
article .entry-content ul ul,article .entry-content ul ol,article .entry-content ul dl,article .entry-content ol ul,article .entry-content ol ol,article .entry-content ol dl,article .entry-content dl ul,article .entry-content dl ol,article .entry-content dl dl{margin-top:0;}
article .entry-content ul,article .entry-content ol{margin-right:6%;margin-left:12%;}
article .entry-content strong{font-weight:bold;}
article .entry-content em{font-style:italic;}
article .entry-content p{margin:0 6% 20px;}
article .entry-content h2{position:relative;border-bottom:1px solid #ddd;font-weight:300;}
article .entry-content h2:before{position:absolute;bottom:-2px;width:100%;border-bottom:1px solid #fff;content:"";}
article .entry-content img,article .entry-content video{margin: 10px auto;height:auto;max-width:100%;border-bottom:0;-webkit-border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border-radius:5px;-webkit-box-shadow:0 0 15px rgba(0,0,0,0.35);-moz-box-shadow:0 0 15px rgba(0,0,0,0.35);box-shadow:0 0 15px rgba(0,0,0,0.35);}
article .entry-content img[alt=block]{display:block}
article .entry-content blockquote{margin:10px auto 0;padding:2px 20px;width:85%;border-left:5px solid #ccc;background:#f7f7f9;}
article .entry-content blockquote>p:first-of-type{margin-top:0;}
article .entry-content iframe{border:0;}
article .entry-content table{margin-top:10px;border:1px solid #ccc;background:#ddd;border-spacing:0;}
article .entry-content table th{padding:0 15px;background:#ccc;}
article .entry-content table td{text-align:center;}
article .entry-content table tr:nth-of-type(2n){background:#d5d5d5;}
article .entry-content .caption{position:relative;display:block;padding-left:25px;color:#999;font-size:.9em;}
article .entry-content .caption:before{position:absolute;left:0;color:#ccc;content:"\f040";font:1.3em FontAwesome;line-height:1.6em;}
article .entry-content .video-container{position:relative;overflow:hidden;padding-top:30px;padding-bottom:56.25%;height:0;}
article .entry-content .video-container iframe,article .entry-content .video-container object,article .entry-content .video-container embed{position:absolute;top:0;left:0;margin-top:0;width:100%;height:100%;}
.share{padding:15px 0;padding-left:260px;border-top:1px solid #fff;border-bottom:1px solid #ddd;}
@media screen and (max-width:620px){.share{padding-left:0;}
}

@media screen and (max-width:620px){.post .entry-content{margin-left:0px;}
}
@media screen and (max-width:480px){.post .entry-content{margin-left:0;}
}
.post .meta{position:absolute;top:115px;width:170px;color:#333;font-size:.9em;line-height:2;}
@media screen and (max-width:620px){.post .meta{position:static;margin-top:15px;width:auto;}
}
.post .meta a{outline:0;color:#333;text-decoration:none;-webkit-transition:border .25s linear;-moz-transition:border .25s linear;transition:border .25s linear;-ms-transition:border .25s linear;}

.post .meta .date,.post .meta .tags,.post .meta .comments{position:relative;padding-left:30px;}
.post .meta .date:before,.post .meta .tags:before,.post .meta .comments:before{position:absolute;left:0;color:#333;font:1.3em FontAwesome;line-height:1.6em;}
@media screen and (max-width:620px){.post .meta .date,.post .meta .tags,.post .meta .comments{display:-moz-inline-stack;display:inline-block;margin-right:30px;vertical-align:middle;zoom:1;*vertical-align:auto;*display:inline;}
}
.post .meta .date:before{content:"\f073";}
.post .meta .tags:before{content:"\f02c";}
.post .meta .comments:before{content:"\f075";}

.archives{position:relative;}
.archives:last-of-type:before{position:absolute;bottom:0;width:200px;border-top:1px solid #ddd;content:"";}
.archives .year{position:absolute;top:0;padding-top:15px;width:200px;border-top:1px solid #fff;line-height:35px;}
.archives .year:before{position:absolute;top:-2px;width:100%;border-top:1px solid #ddd;content:"";}
@media screen and (max-width:600px){.archives .year{position:relative;width:100%;}
}
.archives article{margin-left:200px;padding:15px 0;}
@media screen and (max-width:600px){.archives article{margin-left:0;}
.archives article:first-of-type{padding-top:30px;border-top:0;}
}
.archives article .title{margin-bottom:0;}
.archives article .meta{margin-top:15px;color:#999;font-size:.9em;line-height:2;}
@media screen and (max-width:600px){.archives article .meta{display:none;}
}
.archives article .meta span{display:-moz-inline-stack;display:inline-block;margin-right:30px;vertical-align:middle;zoom:1;*vertical-align:auto;*display:inline;}
.archives article .meta span:before{padding-right:10px;color:#ccc;font:1.3em FontAwesome;}
.archives article .meta a{color:#999;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;}
.archives article .meta a:hover{color:#2879d0;}
.archives article .meta .date:before{content:"\f073";}
.archives article .meta .tags:before{content:"\f02c";}
.archives article .meta .comments:before{content:"\f075";}
#comment{padding:30px 0;margin:0 auto;width:70%;}
#comment h2.title{margin-bottom:20px;font-weight:300;font-size:25px;line-height:35px;}

footer{padding:15px 0;text-align:center;font-size:.9em;}
article h3{padding:10px 3%;width:96%;background:#f5f5f5;box-shadow:1px 1px 1px 1px #c7c7c7;}
article .entry-content h4{margin-left: 2.1em;}
header{padding-top:40px;padding-bottom:40px;border-bottom:solid 1px #275da1;background:#2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;font-family:Helvetica,Arial,serif;}
header h1{margin-bottom:.2em;width:540px;color:#fff;letter-spacing:-1px;font-size:72px;line-height:1;}
header h2{width:540px;color:#9ddcff;letter-spacing:0;font-weight:normal;font-size:26px;line-height:1.3;}
.meta .date{margin-left:22px;}

.gist .gist-file{margin:0;}
.gist .gist-file .gist-data{border:0;background:0;}
.gist .gist-file .gist-data pre{line-height:1.5;}
.gist .gist-file .gist-meta{margin:0 -16px -6px;padding:5px 15px;background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#ddd),color-stop(100%,#ccc));background:-webkit-linear-gradient(top,#ddd,#ccc);background:-moz-linear-gradient(top,#ddd,#ccc);background:-o-linear-gradient(top,#ddd,#ccc);background:linear-gradient(top,#ddd,#ccc);font:300 .9em "proxima-nova-1","proxima-nova-2","Helvetica Neue",Arial,sans-serif;line-height:1.5;}
.gist .gist-file .gist-meta a{color:#2879d0;}
.gist .gist-file .gist-meta a:first-of-type{position:absolute;top:5px;right:15px;z-index:1;}
.gist .gist-file .gist-meta a:nth-of-type(2){position:absolute;top:0;left:0;padding:5px 15px;width:100%;background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#ccc),color-stop(100%,#ddd));background:-webkit-linear-gradient(top,#ccc,#ddd);background:-moz-linear-gradient(top,#ccc,#ddd);background:-o-linear-gradient(top,#ccc,#ddd);background:linear-gradient(top,#ccc,#ddd);}
#banner{position:relative;display:none;padding:30px 0;border-top:1px solid #fff;border-bottom:1px solid #ddd;color:#999;text-align:center;line-height:30px;}
#banner:hover a{color:#2879d0;}
#banner a{color:#999;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;}
#banner a:hover{text-decoration:underline;}
#banner small{position:absolute;right:0;bottom:0;}
#banner .loading{background:url('/cleanpress/images/loading_pacman.gif?1359464107') center no-repeat;text-indent:-9999px;}
#banner .container{position:relative;display:none;overflow:hidden;height:30px;}
#banner .container .feed{position:absolute;top:0;width:100%;list-style:none;}
#banner .container .feed li{position:relative;}
#banner .container .feed li small{position:absolute;right:0;}
.gist .highlight{width:100%;}
.gist .gist-syntax .highlight .line-data{text-align:left;}
.tags a:after{content:',';}
.tags a:last-child:after{content:'';}

.favicon{display:none;}

code{margin:0 2px;padding:2px 5px;border:1px solid #e1e1e8;border-radius:3px;background-color:#f7f7f9;font-size:.8em;font-family:Monaco,Menlo,"Courier New",monospace;}
pre code{display:block;overflow:auto;margin:0 auto 30px;padding:8px;width:85%;border:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#f7f7f9;white-space:pre;line-height:20px;word-break:break-all;}
.highlight{background:#fff;}
.highlight .c{color:#998;font-style:italic;}
.highlight .err{background-color:#e3d2d2;color:#a61717;}
.highlight .k{font-weight:bold;}
.highlight .o{font-weight:bold;}
.highlight .cm{color:#998;font-style:italic;}
.highlight .cp{color:#999;font-weight:bold;}
.highlight .c1{color:#998;font-style:italic;}
.highlight .cs{color:#999;font-weight:bold;font-style:italic;}
.highlight .gd{background-color:#fdd;color:#000;}
.highlight .gd .x{background-color:#faa;color:#000;}
.highlight .ge{font-style:italic;}
.highlight .gr{color:#a00;}
.highlight .gh{color:#999;}
.highlight .gi{background-color:#dfd;color:#000;}
.highlight .gi .x{background-color:#afa;color:#000;}
.highlight .go{color:#888;}
.highlight .gp{color:#555;}
.highlight .gs{font-weight:bold;}
.highlight .gu{color:#aaa;}
.highlight .gt{color:#a00;}
.highlight .kc{font-weight:bold;}
.highlight .kd{font-weight:bold;}
.highlight .kp{font-weight:bold;}
.highlight .kr{font-weight:bold;}
.highlight .kt{color:#458;font-weight:bold;}
.highlight .m{color:#099;}
.highlight .s{color:#d14;}
.highlight .na{color:#008080;}
.highlight .nb{color:#0086b3;}
.highlight .nc{color:#458;font-weight:bold;}
.highlight .no{color:#008080;}
.highlight .ni{color:#800080;}
.highlight .ne{color:#900;font-weight:bold;}
.highlight .nf{color:#900;font-weight:bold;}
.highlight .nn{color:#555;}
.highlight .nt{color:#000080;}
.highlight .nv{color:#008080;}
.highlight .ow{font-weight:bold;}
.highlight .w{color:#bbb;}
.highlight .mf{color:#099;}
.highlight .mh{color:#099;}
.highlight .mi{color:#099;}
.highlight .mo{color:#099;}
.highlight .sb{color:#d14;}
.highlight .sc{color:#d14;}
.highlight .sd{color:#d14;}
.highlight .s2{color:#d14;}
.highlight .se{color:#d14;}
.highlight .sh{color:#d14;}
.highlight .si{color:#d14;}
.highlight .sx{color:#d14;}
.highlight .sr{color:#009926;}
.highlight .s1{color:#d14;}
.highlight .ss{color:#990073;}
.highlight .bp{color:#999;}
.highlight .vc{color:#008080;}
.highlight .vg{color:#008080;}
.highlight .vi{color:#008080;}
.highlight .il{color:#099;}

.fancybox-tmp iframe,.fancybox-tmp object{margin:0;padding:0;vertical-align:top;}
.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020;}
.fancybox-skin{position:relative;margin:0;padding:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:#f9f9f9;color:#444;text-shadow:none;-ms-border-radius:4px;-o-border-radius:4px;}
.fancybox-opened{z-index:8030;}
.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);box-shadow:0 10px 25px rgba(0,0,0,0.5);}
.fancybox-outer,.fancybox-inner{position:relative;margin:0;padding:0;outline:0;}
.fancybox-inner{overflow:hidden;}
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch;}
.fancybox-error{margin:0;padding:10px;color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;}
.fancybox-image,.fancybox-iframe{display:block;margin:0;padding:0;width:100%;height:100%;border:0;vertical-align:top;}
.fancybox-image{max-width:100%;max-height:100%;}
#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url('/cleanpress/images/fancybox/fancybox_sprite.png?1359464107');}
#fancybox-loading{position:fixed;top:50%;left:50%;z-index:8020;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer;}
#fancybox-loading div{width:44px;height:44px;background:url('/cleanpress/images/fancybox/fancybox_loading.gif?1359464107') center center no-repeat;}
.fancybox-close{position:absolute;top:-18px;right:-18px;z-index:8040;width:36px;height:36px;cursor:pointer;}
.fancybox-nav{position:absolute;top:0;z-index:8040;width:40%;height:100%;background:transparent url('/cleanpress/images/fancybox/blank.gif?1359464107');cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.fancybox-prev{left:0;}
.fancybox-next{right:0;}
.fancybox-nav span{position:absolute;top:50%;z-index:8040;visibility:hidden;margin-top:-18px;width:36px;height:34px;cursor:pointer;}
.fancybox-prev span{left:20px;background-position:0 -36px;}
.fancybox-next span{right:20px;background-position:0 -72px;}
.fancybox-nav:hover span{visibility:visible;}
.fancybox-tmp{position:absolute;top:-9999px;left:-9999px;visibility:hidden;overflow:visible;padding:0;}
#fancybox-overlay{position:absolute;top:0;left:0;z-index:8010;display:none;overflow:hidden;background:#000;}
#fancybox-overlay.overlay-fixed{position:fixed;right:0;bottom:0;}
.fancybox-title{position:relative;z-index:8050;visibility:hidden;text-shadow:none;font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;}
.fancybox-opened .fancybox-title{visibility:visible;}
.fancybox-title-float-wrap{position:absolute;right:50%;bottom:0;z-index:8030;margin-bottom:-35px;text-align:center;}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;background:transparent;background:rgba(0,0,0,0.8);color:#FFF;text-shadow:0 1px 2px #222;white-space:nowrap;font-weight:bold;line-height:24px;-ms-border-radius:15px;-o-border-radius:15px;}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff;}
.fancybox-title-inside-wrap{margin-top:10px;}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;padding:10px;background:#000;background:rgba(0,0,0,0.8);color:#fff;}
