---
layout: site
---
<meta name="keywords" content="emptysea,javascript,glsl,creative coding,php,mysql">
</head>
<body>
<div id="content" class="inner archives">
  <div class="navi">
    <a href="{{site.url}}"><img title="Welcome to Ray's emptysea!" src="http://empty.qiniudn.com/img/avatar.jpg"/></a>
  </div>
  <article class="fancy-underline">
    <h1 class="title fancy-text">Ray's EmptySea</h1>
    <div class="entry-content" id="articles">
      {{content}}
    </div>
  </article>
  {% if page.previous or page.next %}
  <nav id="pagenavi">
    {% if page.previous %}
    <a href="{{page.previous.url}}" class="prev">{{page.previous.title}}</a> {% endif %} {% if page.next %}
    <a href="{{page.next.url}}" class="next">{{page.next.title}}</a> {% endif %}
    <a class="center" href="http://ray7551.github.io">Archives</a>
  </nav>
  {% endif %}
</div>
